{% for item in brevet %}
  <h2>{{ item.distance }}km ACP Brevet</h2>
  <h3> Control Dist: {{ item.control_dist }}km      Location: {{ item.location }}</h3>
  <p> open: {{ item.open }} </p>
  <p> close: {{ item.close }} </p>

{% endfor %}
